
.center {
    svg {
        width: 260px !important;
    }
}
#sub-title {
    position: absolute;
    h3 {
        font-size: 16px;
        text-align: left;
        @include breakpoint(smartphones){
            text-align: center;
        }
    }
}