.footer{
    background-color: $baseColor;
    color: white;
    padding: 80px 0;

    a{
        color: white;
        &:hover{
            color: $primaryColor;
            text-decoration: none;
        }
    }

    img, h4, p{
        margin: 20px 0;
    }
    h4{
        font-weight: bold;
        font-style: italic;
    }
    ul{
        padding: 0;
        li{
            list-style: none;
        }
    }

    .signature{
        text-align: center;
    }

    .social{
        svg{
            fill: #fff;
            width: 30px;
            margin: 10px;

            &:hover{
                fill: $primaryColor;
            }
        }
    }

    hr{
        border: 0.4px solid white;
    }

    @include breakpoint(desktops){
        text-align: center;
    }
}