#simulation{
    background: url('../img/faca-simulacao.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;

    color: white;
    padding: 5% 10%;
    width: 100%;

    .blockPress-btn{
        margin-bottom: 60px;
    }
}