
# BEGIN ShortPixelWebp
# As diretrizes (linhas) entre `BEGIN ShortPixelWebp` e` END ShortPixelWebp` são
# geradas dinamicamente e só devem ser modificadas através de filtros do WordPress.
# Quaisquer alterações nas diretivas entre esses marcadores serão sobrescritas.

# END ShortPixelWebp